APP_NAME=AUTH

NODE_ENV=development
PORT=3001
VERSION=v1

TIMEZONE="Asia/Jakarta"

CORS_ORIGINS=http://localhost:3000/;https://api.example.com

DATABASE_URL_MASTER="postgresql://postgres:12345678@localhost:5432/pg?TimeZone=Asia/Jakarta"
DATABASE_URL_SLAVE="postgresql://postgres:12345678@localhost:5432/pg?TimeZone=Asia/Jakarta"
DATABASE_URL_SHADOW="postgresql://postgres:12345678@localhost:5432/pg_shadow?TimeZone=Asia/Jakarta"

CLIENT_AUTH_NAME="AUTH_SERVICE"
CLIENT_AUTH_HOST="127.0.0.1"
CLIENT_AUTH_PORT=4001

CLIENT_CONFIG_NAME="CONFIG_SERVICE"
CLIENT_CONFIG_HOST="127.0.0.1"
CLIENT_CONFIG_PORT=4002

CLIENT_TRANSACTION_NAME="TRANSACTION_SERVICE"
CLIENT_TRANSACTION_HOST="127.0.0.1"
CLIENT_TRANSACTION_PORT=4003

CLIENT_SETTLERECON_NAME="SETTLERECON_SERVICE"
CLIENT_SETTLERECON_HOST="127.0.0.1"
CLIENT_SETTLERECON_PORT=4004

