# Application
APP_NAME=AUTH
NODE_ENV=development
PORT=3001
VERSION=v1
TIMEZONE="Asia/Jakarta"
CORS_ORIGINS=http://localhost:3000/;https://api.example.com

# Database PostgreSQL
POSTGRESQL_URL_MASTER="postgresql://postgres:12345678@localhost:5432/pg?TimeZone=Asia/Jakarta&schema=auth"
POSTGRESQL_URL_SLAVE="postgresql://postgres:12345678@localhost:5432/pg?TimeZone=Asia/Jakarta&schema=auth"

# TCP Auth
CLIENT_AUTH_NAME="AUTH_SERVICE"
CLIENT_AUTH_HOST="127.0.0.1"
CLIENT_AUTH_PORT=4001

# TCP Config
CLIENT_CONFIG_NAME="CONFIG_SERVICE"
CLIENT_CONFIG_HOST="127.0.0.1"
CLIENT_CONFIG_PORT=4002

# TCP Transaction
CLIENT_TRANSACTION_NAME="TRANSACTION_SERVICE"
CLIENT_TRANSACTION_HOST="127.0.0.1"
CLIENT_TRANSACTION_PORT=4003

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=redis
REDIS_PASSWORD=12345678

MERCHANT_SIGNATURE_TIMESTAMP_TOLERANCE_SECONDS=300
MERCHANT_SIGNATURE_NONCE_TTL_SECONDS=600
MERCHANT_SIGNATURE_SECRET_KEY_GRACE_SECONDS=86400
